
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.logo {
    font-size: 22px;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links li a:hover {
    text-decoration: underline;
}


.right-menu a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

.right-menu a:hover {
    text-decoration: underline;
}


.content {
    padding: 2px;
}

.content h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

.content p {
    font-size:16px;
}
